/*might not need it*/
body {
	min-width:100%;
	min-height:100%; 
	margin:0; 
	padding:0;
}

html{
    height: 100%;
}

#gradient {
    
    background: #00BFFF;
    background: -webkit-linear-gradient(to right bottom, #086A87, #00BFFF);
    background: linear-gradient(to right bottom, #086A87, #00BFFF);
    border-radius: 2px;
    background-size:100% 100%;
    background-repeat: no-repeat;
}

#nav {
	/*unused*/
	line-height:30px;
	background-color:#eeeeee;
	height:300px;
	width:100px;
	float:left;
	padding:5px; 
}

#title {
	background-color:#1E90FF;
	color:white;
	text-align:center;
	width:100%;
	padding:5px;
}

#header {
   text-align:center;
   padding:5px;
}

#main {
	padding:10px; 
   text-align:center;
}

#footer {
	background-color:#FF9900;
	color:black;
	clear:both;
	text-align:center;
	position:absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px; 
	font-size: 18px;
	
}


#word {
   text-align:center;
   font-size: 30px;
}

#guesses {
   text-align:center;
   font-size: 30px;
}

#keys {
	background: #00BFFF;
	width:400px;
	margin-left: auto;
	margin-right: auto;
}
#buttons {
   
}

#options {
	text-align: center;
	width:400px;
	margin-left: auto;
	margin-right: auto;
	line-height: 2;
}

#guess_form{
	height: 30px;
}

.submit {
    width: 100px;
    height: 35px;
}


.buttons {
    text-align:center;
    width: 150px;
    height: 45px;
}

.center {
    position: absolute;
    display: block;
/*
    margin-left: auto;
    margin-right: auto;
*/
    left: 40%;
    top: 25%;
    width: 180x;
    
}


.box{
    margin: 1.5%;
    float:left;
}

#x {
    position: absolute;
    right: 855px;
    width: 150px;
    float: left;
}

.y{
    position:absolute;
    right:390px;
    top: 73px;
    margin: 10px;
    widows: 20px;
    height: 30px;
/*    float: left;*/
}

#button_position{
    position: absolute;
    left: 45%;
    bottom: 55%;
}

.button_margins{
    margin-top: 1.3%;   
}

