
body {
    background: #00BFFF;
    background: -webkit-linear-gradient(to right bottom, #086A87, #00BFFF);
    background: linear-gradient(to right bottom, #086A87, #00BFFF);
    height:100%;
}

#nav {
	/*unused*/
	line-height:30px;
	background-color:#eeeeee;
	height:300px;
	width:100px;
	float:left;
	padding:5px; 
}

#footer {
	background-color:#EEEEEE;
	color:black;
	clear:both;
	text-align:center;
	padding:1px; 
	font-size: 8px;
}

#title {
	background-color:#1E90FF;
	color:white;
	text-align:center;
	width:100%;
	padding:5px;
}

#header {
   text-align:center;
}

#main {
	padding:10px; 
   text-align:center;
}

#word {
   text-align:center;
   font-size: 30px;
}

#guesses {
   text-align:center;
   font-size: 30px;
}

#keys {
	background: #00BFFF;
	width:400px;
	margin-left: auto;
	margin-right: auto;
}
#buttons {
   
}

#down {
   
}

#down2 {
   
}

#guess_form{
    
}

.submit {
    width: 100px;
    height: 35px;
}


.buttons {
    text-align:center;
    width: 150px;
    height: 45px;
}

.center {
    position: absolute;
    display: block;
/*
    margin-left: auto;
    margin-right: auto;
*/
    left: 40%;
    top: 25%;
    width: 180x;
    
}
